.sidebar {
  border-right: 1px solid background;
}
.v-list-item-title {
  font-weight: 600;

  color: primary;
}
.child-item .v-list-item-title {
  font-weight: 400;
  color: primary;
  padding-left: 20px;
}

.sidebar-header {
  padding: 2rem;
  border-bottom: 1px solid background;
}

.test-name {
  margin: 0;
  font-weight: 500;
  color: primary;
  font-size: 0.75rem;
}
